@import 'Styles/variables.scss';

.landing{
    display: flex;
    flex-direction: column;
    background-image: url('./Assets/LandingBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 4em;
    .sex-info-box{
      display: flex;
      flex-direction: column;
      gap: 2rem;
     
    }
    .quiz-bubble{
      top: 3em;
      position: absolute;
      right: 0;
      overflow: hidden;
      width: 750px;
      height: auto;
      transition-duration: 0.3s;
      &:hover{
        cursor: pointer;
        filter: brightness(1.3);
      }
    }
  }
  
  
  