@import 'Styles/variables.scss';

body,
html,
#root {
    height: fit-content; 
    overflow-x: hidden;
}
h1{
    font-size: 55px;
    font-weight: 600;
    color: $lavender;
    text-shadow: $titleShadow;
    font-family: "Playfair Display";
  }
  h2{
    font-size: 20px;
    font-weight: 600;
    color: $matte;
    text-shadow: $titleShadow;
    font-family: "Playfair Display";
  }
  p{
    font-size: 26px;
    font-weight: 500;
    font-family: "Cormorant";
    letter-spacing: -1px;
  }
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

a,
a:hover {
    color: inherit;
}

/* @font-face {
    font-family: "Playfair Display";
    src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap");
}

@font-face {
    font-family: "Cormorant";
    src: url("https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap");
}

@font-face {
    font-family: "Inter";
    src: url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
} */