/* colors */
$velvel : #43182A;
$lavender: #9233F0;
$pinkish: #F967FC;
$pure: #F9F9F9;
$matte: #212121;
$tasty: #F8BC25;
$pastel: #FED7FF;
$error: #FF5D67;
$valid: #8CFF82;

/* shadow */

$softshadow: 0px 8px 12px rgba(0, 0, 0, 0.1);

/* TitleShadow */

$titleShadow: 0px 4px 26px rgba(0, 0, 0, 0.075);