.tchat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./Assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    .username-select{
        width: 50%;
        height: 400px;
        padding: 2rem;
        border-radius: 25px;
        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1{
            font-size: 2em;
        }
        p{
            font-size: 1.3em;
        }
        .lower{
            width: fit-content;
            form{
                display: flex;
                flex-direction: row;
            }
        }
    }
}