@import 'Styles/variables.scss';

.navbar{
  z-index: 2;
    .header{
      width: 100%;
      height: 100px;
      background-color: $pure;
      padding: 0 4em;
      box-shadow: $softshadow;

      .head-row{
        display:flex;
        height: 100%;
        flex-direction: row;
        align-items: center;
        gap: 2.5rem;
        .row-item{
          font-size: 48px;
          font-weight: 600;
          font-family: "Playfair Display";
        }
      }
      a:hover{
        cursor: pointer;
        color: $neon;
        transition: all 0.2s ease-out;
      }
    }
  }
